{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Welcome back, {{ app.user.userIdentifier }}!</h1>
{% else %}
    <h1>Welcome to the messenger!</h1>
    <p>Feel free to browse our <a href="{{ path('app_users')}}">users list</a> without the need to register an account!</p>
    <p>For an expanded functionality, you must <a href="{{ path('app_register') }}">register a new account</a> or <a href="{{ path('app_login') }}">log in</a>.</p>
{% endif %}
{% endblock %}
