{% extends 'base.html.twig' %}

{% block title %}Email Verification{% endblock %}

{% block body %}
        <h1>Congratulations!</h1>
        <p>You have successfully verified your email address.</p>
        <p>Please proceed to the login page to access your account.</p>
        <p><a href="{{ path('app_login') }}">Go to Login</a></p>
{% endblock %}