{% extends 'base.html.twig' %}

{% block title %}Email Verification{% endblock %}
{% block body %}
        <h1>You're almost done!</h1>
        <p>Please finish your registration by verifying your email address.</p>
        <p>Check your inbox for the verification email!</p>
{% endblock %}