{% extends 'base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block body %}
    <h1>Users List</h1>
    <div id="users-list">
        {% for user in users %}
            <a href="{{ path('app_profile', {'id': user.id}) }}" class="user-card">
                {% if (app.user.id|default(null)) is same as (user.id) %}
                    <p id="listActiveProfile">That's you!</p>
                {% endif %}
                <p>{{ user.email }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
