.active {
    font-weight: bold;
    color: #ffcd59;
}
#page-title{
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}
.navbar a {
    text-decoration: none;
}
.navbar a:hover {
    color: #ffcd59;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    min-width: 160px;
    background-color: #212121;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    list-style: none;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: all 0.2s ease;
}
.dropdown.open .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
#users-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5vw;
}
.user-card {
    border: 1px solid black;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
}
.user-card:hover{
    color: #ffcd59;
    background-color: hsl(0, 0%, 15%);
}
#listActiveProfile{
    margin: 0;
    font-size: 12px;
    text-align: right;
}
#settings-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1vw;
}
#settings-content-column{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
#settings-content-title{
    text-align: center;
    margin-top: 0;
}
#settings-title-column{
    margin: 0 auto;
    align-self: center;
    width: 30%;
    grid-column: 1;
}
#settings-title-column ul{
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
    border: 1px solid black;
}
.settings-item{
    text-decoration: none;
    display: block;
    padding: 10px;
}
.settings-item:hover{
    color: #ffcd59;
    background-color: hsl(0, 0%, 10%);
}
#user-display-name{
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: bold;
}
#user-username{
    margin: 0;
    font-size: 1rem;
    color: #888;
}